<%= title "Import from Cashboard" %>

<%= form_tag(import_cashboard_tasks_path, :id => 'import_cashboard_tasks_form') do %>
  <%= hidden_field_tag(:id, params[:id]) %>

  <div class="box tabular">
    <fieldset class="attributes">
    <legend>Cashboard Target</legend>

    <div class="splitcontentleft">
    <p>
      <label for="cashboard_project_id">Saved Cashboard Project</label>
      <%= hidden_field_tag(:cashboard_project_id, @cashboard_project.try(:cashboard_project_id), :'data-saved-project-id' => true) %>
      <%= hidden_field_tag(:cashboard_project_name, @cashboard_project.try(:cashboard_project_name)) %>
      <%= @cashboard_project.try(:cashboard_project_name) || "(None saved)" %>
    </p>
    <p>
      <label for="cashboard_project_id">or select a different Cashboard Project</label>
      <%= link_to "select", "#", :id => 'add-cashboard-project-select' %>
      <%= select_tag(:cashboard_project_id,
                     content_tag('option', '(fetching projects from Cashboard...)', :value => ''),
                     :disabled => true, :'data-project-id' => true, :style => 'display: none;') %>
      <%= link_to "remove", "#", :id => 'remove-cashboard-project-select', :style => 'display: none' %>
    </p>
    <p>
      <label for="cashboard_project_list_id">Cashboard Task List</label>
      <%= select_tag(:cashboard_project_list_id, '', :disabled => true) %>
    </p>
    </div>
    </fieldset>
  </div>

  <fieldset class="box">
  <legend>Cashboard Line Items to Import</legend>
  <div id="cashboard_line_items_container"></div>
  </fieldset>

  <%= submit_tag l(:button_submit) %>

<% end %>

<%= javascript_tag do %>
var savedProjectId,
    savedProjectName;

var updateCashboardProjectLists = function(projectId) {
  if (projectId && projectId !== '') {
    var $select = $('#cashboard_project_list_id');
    $.ajax({
      url: '/cashboard_tasks/get_project_list',
      dataType: 'json',
      type: 'get',
      data: {cashboard_project_id: projectId}
    }).done(function(data) {
      var options = $.map(data, function(list) {
        return '<option value=' + list.id + '>' + list.title + '</option>';
      });
      $select.html(options.join('')).prop('disabled', false);
      $('#cashboard_project_list_title').prop('disabled', false);
      updateCashboardLineItems($select.val());
    });
  } else {
    $('#cashboard_project_list_id').html('').prop('disabled', true);
    $('#cashboard_project_list_title').prop('disabled', true);
  }
};

var updateCashboardLineItems = function(projectListId) {
  if (projectListId && projectListId !== '') {
    $.ajax({
      url: '/cashboard_tasks/get_line_items',
      dataType: 'json',
      type: 'get',
      data: {cashboard_project_list_id: projectListId}
    }).done(function(data) {
      var options = $.map(data, function(item) {
        return '<p><label><input type="checkbox" name="cashboard_line_item_ids[]" value=' + item.id + ' data-line-item /> ' + item.title + '</label></p>';
      });
      options = ['<p><label><input type="checkbox" name="check_all" value="" id="check_all" /><em>(check all)</em></label></p><hr />'].concat(options);
      $('#cashboard_line_items_container').html(options.join(''));
    });
  } else {
    $('#cashboard_line_items_container').html('');
  }
};

$(document).ready( function() {
  savedProjectId = $('[data-saved-project-id]').val();
  savedProjectName = $('#cashboard_project_name').val();
  if (savedProjectId && savedProjectId !== '') {
    updateCashboardProjectLists(savedProjectId);
  }
});

$(document).on('change', '#cashboard_project_id', function(){
  var $this = $(this), projectId = $this.val();
  if (projectId && projectId !== '') {
    $('#cashboard_project_name').val($this.find('option:selected').text());
    updateCashboardProjectLists(projectId);
  } else {
    $('#cashboard_project_name').val(savedProjectName);
    updateCashboardProjectLists(savedProjectId);
  }
});

$(document).on('change', '#cashboard_project_list_id', function(){
  var $this = $(this), projectListId = $this.val();
  updateCashboardLineItems(projectListId);
});

$(document).on('click', '#add-cashboard-project-select', function(){
  var $this = $(this),
      $select = $('[data-project-id]');
  if (!$select.data('fetched')) {
    $.ajax({
      url: '/cashboard_tasks/get_projects',
      dataType: 'json',
      type: 'get'
    }).done(function(data) {
      var options = $.map(data, function(projects, client) {
        return '<optgroup label="' + client + '">' + $.map(projects, function(project) {
          return '<option value=' + project[1] + '>' + project[0] + '</option>';
        }).join('') + '</optgroup>';
      });
      $select.html('<option value="">(select project)</option>' + options.join('')).data('fetched', true);
    });
  }
  $this.hide();
  $select.prop('disabled', false).show();
  $('#remove-cashboard-project-select').show();
});

$(document).on('click', '#remove-cashboard-project-select', function(){
  $('[data-project-id]').prop('disabled', true).hide();
  $(this).hide();
  $('#add-cashboard-project-select').show();
  $('#cashboard_project_name').val(savedProjectName);
  updateCashboardProjectLists(savedProjectId);
});

$(document).on('click', '#check_all', function() {
  if ($(this).is(':checked')) {
    $('[data-line-item]').prop('checked', true);
  } else {
    $('[data-line-item]').prop('checked', false);
  }
});
<% end %>
