<%= title "Import from Cashboard" %>

<%= form_tag(import_cashboard_tasks_path, :id => 'import_cashboard_tasks_form') do %>
  <%= hidden_field_tag(:id, params[:id]) %>

  <div class="box tabular">
    <fieldset class="attributes">
      <legend>Cashboard Target</legend>

      <div class="splitcontentleft">
        <%= render :partial => "cashboard_tasks/cashboard_fields" %>
      </div>
    </fieldset>
  </div>

  <%= render :partial => "cashboard_tasks/cashboard_import_fields" %>

  <%= submit_tag l(:button_submit) %>

<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'cashboard_tasks', :plugin => 'cashboard_tasks' %>
<% end %>
