<%= title "Copy to Cashboard" %>

<ul id="bulk-selection">
  <% @issues.each do |issue| %>
    <%= content_tag 'li', link_to_issue(issue) %>
  <% end %>
</ul>

<%= form_tag(cashboard_tasks_path, :id => 'cashboard_tasks_form') do %>
  <%= @issues.collect {|i| hidden_field_tag('ids[]', i.id)}.join("\n").html_safe %>

  <div class="box tabular">
    <fieldset class="attributes">
      <legend>Cashboard Target</legend>

      <div class="splitcontentleft">
        <%= render :partial => "cashboard_tasks/cashboard_fields" %>
        <%= render :partial => "cashboard_tasks/cashboard_new_fields" %>
      </div>
    </fieldset>

    <div class="splitcontentright">
    </div>
  </div>

  <p>
    <%= submit_tag l(:button_submit) %>
  </p>

<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'cashboard_tasks', :plugin => 'cashboard_tasks' %>
<% end %>
